<p id="notice"><%= notice %></p>


<table class="admin_posts_table">
  <thead>
    <tr>
      <th style="padding-right: 30px" >Ингредиенты</th>
      <th style="padding-right: 30px" >Кол-во</th>
      <th style="padding-right: 30px" >Мера</th>
      <th style="padding-right: 30px" >Замена 1</th>
      <th style="padding-right: 30px" >Замена 2</th>
      <th style="padding-right: 30px" >Замена 3</th>
      <th style="padding-right: 30px" >Замена 4</th>
      <th style="padding-right: 30px" >Замена 5</th>
    </tr>
  </thead>

  <tbody>
    <% @post_ingredients.each do |post_ingredient| %>
      <tr>
        <td><%= post_ingredient.ingredient.ingredient %></td>
        <td><%= post_ingredient.amount %></td>
        <td><%= post_ingredient.measure %></td>
        <td><%= post_ingredient.ingr_replica1&.ingredient %></td>
        <td><%= post_ingredient.ingr_replica2&.ingredient %></td>
        <td><%= post_ingredient.ingr_replica3&.ingredient %></td>
        <td><%= post_ingredient.ingr_replica4&.ingredient %></td>
        <td><%= post_ingredient.ingr_replica5&.ingredient %></td>
        <td>
        <div class="table_btns">
          <%= link_to 'Посмотреть', [:admin, @post] %>
          <%= link_to 'Редактировать', edit_admin_post_post_ingredient_path(@post, post_ingredient) %>
          <%= link_to 'Удалить', [:admin, @post, post_ingredient], method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </td>
      <h1><%= @post.name %></h1>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Вернуться', admin_posts_path %>
