    <!-- <!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Essen</title>
  </head>
  <body>

    <section class="section__one">
      <img class="section__one__plate" src="../assets/plate1.png" alt="">
      <%= image_tag 'logo-bw', class: 'logo-bw'%>
      <!-- <img class="logo-bw" src="../assets/logo-bw-d9faa72d0cf4d57999310cbca69d0b8aaa939d737deea6d95f85b259f0216e35.svg" /> -->
      <a href="#" class="body">Перейти</a>
      <div class="section__one__group">
        <%= image_tag 'first-screen', class: 'section__one__img'%>
      <!-- </div>
      <div class="section__one__div">
        <div id="div__1" class="circle"></div>
        <div id="div__1" class="circle"></div>
        <div id="div__2" class="circle"></div>
        <div id="div__3" class="circle"></div>
        <div id="div__4" class="circle"></div>
        <div id="div__5" class="circle"></div>
        <div id="div__6" class="circle"></div>
        <div id="div__7" class="circle"></div>
        <div id="div__8" class="circle"></div>
        <div id="div__9" class="circle"></div>
        <div id="div__10" class="circle"></div>
        <div id="div__11" class="circle"></div>
        <div id="div__12" class="circle"></div>
        <div id="div__13" class="circle"></div>
        <div id="div__14" class="circle"></div>
        <div id="div__15" class="circle"></div>
        <div id="div__16" class="circle"></div>
        <div id="div__17" class="circle"></div>
        <div id="div__18" class="circle"></div>
        <div id="div__19" class="circle"></div>
        <div id="div__20" class="circle"></div>
      </div>
    </section>

    <div class="">

      <section class="section__two">
        <h2>Essen&nbsp;&mdash; сайт рецептов,<br> на&nbsp;котором вы можете<br><span> заменять ингредиенты,<br> сохраняя свойства блюда</span>.</h2>
        <div class="section__two__ingredients">
          <div class="cheese">Сыр</div>
          <div class="tvorog">Творог</div>
          <div class="tofu">Тофу</div>
          <div class="yeast">Пищевые дрожжи</div>
          <div class="cashew">Паста из кешью</div>
        </div>
      </section>



      <section class="section__five">
        <div class="section__five__div">
          <!-- <img class="section__five__div__img" src="../assets/shape-inverse-03d1d73e2c55e8267cb1fb43d8e311dd2d002a9fac820afd605ef94b29a4f7d4.svg" /> -->
          <%= image_tag 'shape-inverse', class: 'section__five__div__img'%>
        <!-- </div>
        <div class="section__five__h2">
          <h2>Когда сервис поможет вам?</h2>
          <h2>Когда дома нет некоторых продуктов, а&nbsp;идти в&nbsp;магазин не&nbsp;хочется</h2>
          <h2>Когда ингредиент не&nbsp;подходит вам по&nbsp;идеологическим или&nbsp;религиозным причинам</h2>
          <h2>Когда у вас аллергия или&nbsp;непереносимость ингредиента</h2>
          <h2>Когда не&nbsp;знаете, что&nbsp;приготовить на&nbsp;ужин</h2>
          <h2>Когда нужно приготовить блюдо, которое подходит всем друзьям</h2>
        </div> -->
      </section>

      <!-- <section class="section__four">
        <div class="section__four__one"> -->
          <h2>Заменяйте <br> ингредиенты <br> под&nbsp;ваши <br> предпочтения</h2> -->
          <%= image_tag 'plate2', class: 'section__four__plate'%>
          <!-- <img src="../assets/plate2.png" alt="" class="section__four__plate"> -->
        <!-- </div> -->

        <div class="section__four__two">
          <h2>Ищите рецепты <br> под&nbsp;свой тип питания</h2>
          <%= image_tag 'plate5', class: 'section__four__plate'%>
          <!-- <img src="../assets/plate5.png" alt="" class="section__four__plate"> -->
        </div>

        <div class="section__four__three">
          <!-- <h2>Пробуйте новые рецепты из&nbsp;наших подборок</h2> -->
          <%= image_tag 'plate3', class: 'section__four__plate'%>
          <!-- <img src="../assets/plate6.png" alt="" class="section__four__plate"> -->
        </div>

        <div class="section__four__four">
          <%= image_tag 'plate6', class: 'section__four__plate'%>
          <!-- <img src="../assets/plate6.png" alt="" class="section__four__plate"> -->
          <!-- <h2>Сохраняйте <br> рецепты в&nbsp;личные подборки</h2> -->

        </div>
      </section>

      <section class="section__six">
        <!-- <h1>Готовьте блюда по&nbsp;рецептам профессионалов</h1> -->
        <!-- <p class="body">Наши рецепты и&nbsp;замены к&nbsp;ним пишут повара <br>из&nbsp;ваших любымых заведений Москвы и&nbsp;Петербурга!</p> --> -->
        <%= image_tag 'plate-purple', class: 'section__six__img'%>
        <!-- <img class="section__six__img" src="../assets/plate-purple-58484c9c8e199c11cb2f92ce9c9a281bf518b146033291474e8679052ceab088.png" /> -->
      </section>

      <!-- <section class="section__seven">
        <div class="seven__one">
          <h1>У&nbsp;вас свой <br> ресторан <br> или&nbsp;кафе?</h1>
        </div>
        <div class="seven__two"> -->
          <%= image_tag 'cafe', class: 'cafe'%>
          <!-- <img class="cafe" src="../assets/cafe.jpeg" /> -->
        <!-- </div>
        <div class="seven__three">
          <h1>Поможем <br> вам найти <br> клиентов!</h1>
        </div>
        <a href="https://someth1ngwrong.github.io/Essen__partners/partners/index.html" class="body">Подробнее</a>
      </section>
    </div> -->

    <!-- <section class="section__eight">
      <h2>Мы все за&nbsp;вас продумали. <br>Вам остается наслаждаться готовкой!</h2>
      <div class="call__to__action__div" > -->
        <%= image_tag 'plate1', class: 'final__meal', id: 'final__meal1'%>
        <!-- <img src="../assets/plate1-1.png" class="final__meal" id="final__meal1" alt=""> -->
        <%= image_tag 'plate2', class: 'final__meal', id: 'final__meal2'%>
        <!-- <img src="../assets/plate1-2.png" class="final__meal" id="final__meal2" alt=""> -->
        <%= image_tag 'plate3', class: 'final__meal', id: 'final__meal3'%>
        <!-- <img src="../assets/plate1-3.png" class="final__meal" id="final__meal3" alt=""> -->
        <!-- <img src="../assets/plate1-4.png" class="final__meal" id="final__meal4" alt=""> -->
        <%= image_tag 'plate4', class: 'final__meal', id: 'final__meal4'%>
        <!-- <img src="../assets/plate1-5.png" class="final__meal" id="final__meal5" alt=""> -->
        <%= image_tag 'plate5', class: 'final__meal', id: 'final__meal5'%>
        <!-- <img src="../assets/plate1-6.png" class="final__meal" id="final__meal6" alt=""> -->
        <%= image_tag 'plate6', class: 'final__meal', id: 'final__meal6'%>
        <a href="index#" class="call__to__action">
          Приготовить что-нибудь вкусное ->
        </a>
      </div>
    </section>

    <!-- <section class="section__nine"> -->
      <%= image_tag 'logo-color', class: 'section__nine__img'%>
      <!-- <img class="section__nine__img" src="../assets/logo-color-d08521c329aa90ffd211b235dd5b68e4cccfcb3f266ab5c22038015430345def.svg" /> -->
      <!-- <p>Сборник кулинарных рецептов с&nbsp;гибкой заменой ингредиентов</p>
      <div class="section__nine__a">
        <a href="index#">О сервисе</a>
        <a href="index#">Партнерам</a>
        <a href="index#">Facebook</a>
        <a href="index#">Instagram</a> -->
      <!-- </div> -->
    <!-- </section>
    <script type="text/javascript"> -->
      window.onload = function start() {
        for (var i = 0; i < 6; i++) {
          var a = Math.floor(Math.random() * 20);
          id = 'div__' + a;
          document.getElementById(`${id}`).style.background = "#9897DE";
        }
      }
      setInterval(function circles(){
        var elems = document.getElementsByClassName('circle');
        for (var i = 0; i < 21 ; i++) {
          elems[i].style.background = '#FECE30';
        }
        for (var i = 0; i < 6; i++) {
          var a = Math.floor(Math.random() * 20);
          id = 'div__' + a;
          document.getElementById(`${id}`).style.background = "#9897DE";
        }
      }, 1500)
    </script>
  </body>
</html>

  </body>
</html> -->
