<p id="notice"><%= notice %></p>

<h1>Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Замена ингредиента</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.ingredient %></td>
        <td><%= render "replacements", ingredient: ingredient %></td>
        <td><%= link_to 'Show', [:admin, ingredient] %></td>
        <td><%= link_to 'Edit', edit_admin_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Destroy', [:admin, ingredient], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_admin_ingredient_path %>
