<%= form_with(model: [:admin, post]) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.text_field :time %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name, {:include_blank => true} %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.order(:email), :id, :email %>
  </div>

  <%# <div class="field"> %>
    <%#= f.label 'Добавить ингредиент' %>
    <%#= collection_check_boxes(:post_ingredients, :ingredient_ids, Ingredient.all, :id, :ingredient, include_hidden: false) %>
  <%# </div> %>

  <h3> Ингредиенты</h3>
  <%# Вызываем вложенную форму чтобы записать ингредиенты в состав рецепта %>
  <div id="post_ingredients">
    <%= f.fields_for :post_ingredients do |post_ingredient| %>
      <%= render 'post_ingredient_fields', f: post_ingredient %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Добавить ингредиент', f, :post_ingredients %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
