<p id="notice"><%= notice %></p>

<div class="admin_header">
  <%= image_tag 'essen__logo__black__v1.svg', class: 'admin_essen_logo'%>
  <%= link_to 'Новый пост', new_admin_post_path, class: 'admin_btn' %>
</div>

<div class="admin_navbar">
  <h1>Панель управления</h1>

  <div class="admin_links-box">
    <p>Посты</p>
    <%= link_to 'Ингредиенты', admin_ingredients_path, class: 'admin_links' %>
    <%= link_to 'Пользователи', admin_users_path, class: 'admin_links' %>
    <%= link_to 'Подборки', admin_collections_path, class: 'admin_links' %>
  </div>
</div>

<!-- <h1>Posts</h1> -->
<div class="admin_posts_table-box">

  <table class="admin_posts_table">
    <thead>
      <tr>
        <th>Фото</th>
        <th>Название</th>
        <th>Категория</th>
        <!-- <th colspan="4"></th> -->
        <!-- <th>Title</th> -->
        <!-- <th>Content</th> -->
        <!-- <th>Time</th> -->

        <!-- <th>Ingredients</th> -->

      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= image_tag(post.image.url, alt: 'Image', class: 'table-img') if post.image? %></td>
          <td><%= post.name %></td>
          <!-- <td><%= post.title %></td> -->
          <!-- <td><%= post.content %></td> -->
          <!-- <td><%= post.time %></td> -->
          <td><%= post.category.name %></td>



          <td>
            <div class="table_btns">
            <%= link_to 'Show', [:admin, post] %> <br>
            <%= link_to 'Edit', edit_admin_post_path(post) %><br>
            <%= link_to 'Destroy', [:admin, post], method: :delete, data: { confirm: 'Are you sure?' } %><br>
            <%= link_to 'Добавить ингредиенты', new_admin_post_post_ingredient_path(post) %>
          </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
