<p id="notice"><%= notice %></p>


<div class="admin_header">
  <%= image_tag 'essen__logo__black__v1.svg', class: 'admin_essen_logo'%>
  <%= link_to 'Новая коллекция', new_admin_collection_path, class: 'admin_btn' %>
</div>

<div class="admin_navbar">
  <h1>Панель управления</h1>


  <div class="admin_links-box">
    <%= link_to 'Посты', admin_posts_path, class: 'admin_links'  %>
    <p>Подборки</p>
    <%= link_to 'Ингредиенты', admin_ingredients_path, class: 'admin_links' %>
    <%= link_to 'Пользователи', admin_users_path, class: 'admin_links' %>
  </div>
</div>

<div class="admin_posts_table-box">

  <table class="admin_posts_table">
    <thead>
      <tr>
        <th style="padding-left: 100px">Фото</th>
        <th style="padding-left: 160px">Название</th>
        <th style="padding-left: 205px">Пользователь</th>
        <!-- <th colspan="4"></th> -->
        <!-- <th>Title</th> -->
        <!-- <th>Content</th> -->
        <!-- <th>Time</th> -->

        <!-- <th>Ingredients</th> -->

      </tr>
    </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= image_tag(collection.image.url, alt: 'Image') if collection.image? %></td>
        <td><%= collection.name %></td>
        <td><%= collection.user_id %></td>

        <td><%= link_to 'Посмотреть', [:admin, collection] %></td>
        <td><%= link_to 'Редактировать', edit_admin_collection_path(collection) %></td>
        <td><%= link_to 'Удалить', [:admin, collection], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
