<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Display in navbar:</strong>
  <%= @category.display_in_navbar %>
</p>

<%= link_to 'Edit', edit_admin_category_path(@category) %> |
<%= link_to 'Back', admin_categories_path %>
