
<div>
<%= link_to '<- Вернуться назад', posts_path, class: 'show__post__btn__back' %>
<% if current_user.admin? %>
  <%= link_to 'Редактировать', edit_admin_post_path(@post) , class: 'edit__post__btn__back' %>
<% end %>
</div>

<p class="show__name">
  <strong class="show__name__pre">Автор:</strong>
  <%= @post.name %>
</p>

<p class="show__title">
  <strong class="show__title__pre">Название:</strong>
  <%= @post.title %>
</p>

<p class="show__category">
  <strong>Категория:</strong>
  <%= @post.category.name %>
</p>

<%= image_tag(@post.image.url, class: 'show__img', alt: 'Image') if @post.image? %>

<p class="show__time">
	<strong class="show__time__pre">Время приготовления:</strong>
	<%= @post.time %>
</p>

<p class="show__ingredients">
  <strong class="show__ingredients_pre">Ингредиенты:</strong>
  <%= render 'ingredients', post: @post %>
</p>

<p class="show__content">
  <strong class="show__content__pre">Текст рецепта:</strong>
  <%= @post.content.html_safe %>
</p>




<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Add Post Ingredient', post_post_ingredients_path(@post) %> |
<%= link_to 'Back', posts_path %>
