<%= form_with(model: [@post, post_ingredient]) do |form| %>
  <% if post_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_ingredient.errors.count, "error") %> prohibited this post_ingredient from being saved:</h2>

      <ul>
        <% post_ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.collection_select :ingredient_id, Ingredient.order(:ingredient), :id, :ingredient %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :measure %>
    <%= form.select :measure, PostIngredient.measures.keys, {:include_blank => true} %>
  </div>

  <div class="field">
    <%= form.label :ingr_replica1_id %>
    <%= form.collection_select :ingr_replica1_id, Ingredient.order(:ingredient), :id, :ingredient, {:include_blank => true} %>
  </div>

  <div class="field">
    <%= form.label :ingr_replica2_id %>
    <%= form.collection_select :ingr_replica2_id, Ingredient.order(:ingredient), :id, :ingredient, {:include_blank => true} %>
  </div>

  <div class="field">
    <%= form.label :ingr_replica3_id %>
    <%= form.collection_select :ingr_replica3_id, Ingredient.order(:ingredient), :id, :ingredient, {:include_blank => true} %>
  </div>

  <div class="field">
    <%= form.label :ingr_replica4_id %>
    <%= form.collection_select :ingr_replica4_id, Ingredient.order(:ingredient), :id, :ingredient, {:include_blank => true} %>
  </div>

  <div class="field">
    <%= form.label :ingr_replica5_id %>
    <%= form.collection_select :ingr_replica5_id, Ingredient.order(:ingredient), :id, :ingredient, {:include_blank => true} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
