<p id="notice"><%= notice %></p>

<h1><%= @post.name %></h1>

<table>
  <thead>
    <tr>
      <th>Ингредиенты</th>
      <th>Количество</th>
      <th>Мера</th>
      <th>Замена 1</th>
      <th>Замена 2</th>
      <th>Замена 3</th>
      <th>Замена 4</th>
      <th>Замена 5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_ingredients.each do |post_ingredient| %>
      <tr>
        <td><%= post_ingredient.ingredient.ingredient %></td>
        <td><%= post_ingredient.amount %></td>
        <td><%= post_ingredient.measure %></td>
        <td><%= post_ingredient.ingr_replica1&.ingredient %></td>
        <td><%= post_ingredient.ingr_replica2&.ingredient %></td>
        <td><%= post_ingredient.ingr_replica3&.ingredient %></td>
        <td><%= post_ingredient.ingr_replica4&.ingredient %></td>
        <td><%= post_ingredient.ingr_replica5&.ingredient %></td>
        <td><%= link_to 'Посмотреть пост', [@post] %></td>
        <td><%= link_to 'Редактировать ингредиенты', edit_post_post_ingredient_path(@post, post_ingredient) %></td>
        <td><%= link_to 'Удалить ингредиенты', [@post, post_ingredient], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новые ингредиенты', new_post_post_ingredient_path(@post) %>
