<p id="notice"><%= notice %></p>

<p>
  <strong>Пост:</strong>
  <%= @post_ingredient.post.name %>
</p>

<p>
  <strong>Ингредиент:</strong>
  <%= @post_ingredient.ingredient_id %>
</p>

<p>
  <strong>Количество:</strong>
  <%= @post_ingredient.amount %>
</p>

<p>
  <strong>Мера:</strong>
  <%= @post_ingredient.measure %>
</p>

<p>
  <strong>Замена 1:</strong>
  <%= @post_ingredient.ingr_replica1_id %>
</p>

<p>
  <strong>Замена 2:</strong>
  <%= @post_ingredient.ingr_replica2_id %>
</p>

<p>
  <strong>Замена 3:</strong>
  <%= @post_ingredient.ingr_replica3_id %>
</p>

<p>
  <strong>Замена 4:</strong>
  <%= @post_ingredient.ingr_replica4_id %>
</p>

<p>
  <strong>Замена 5:</strong>
  <%= @post_ingredient.ingr_replica5_id %>
</p>

<%= link_to 'Редактировать', edit_post_post_ingredient_path(@post, @post_ingredient) %> |
<%= link_to 'Вернуться', post_post_ingredients_path(@post) %>
